Source: spell-be-tarask
Section: text
Priority: optional
Maintainer: Hleb Valoshka <375gnu@gmail.com>
Build-Depends: debhelper-compat (= 13)
Build-Depends-Indep: dictionaries-common-dev (>= 1.29.0)
Standards-Version: 4.6.2
Homepage: https://github.com/375gnu/spell-be-tarask/
Rules-Requires-Root: no
Vcs-Git: https://github.com/375gnu/spell-be-tarask.git
Vcs-Browser: https://github.com/375gnu/spell-be-tarask

Package: hunspell-be-tarask
Architecture: all
Build-Profiles: <!pkg.spell-be-tarask.nolinks>
Depends: dictionaries-common (>= 1.0.0), ${misc:Depends}
Provides: hunspell-dictionary, hunspell-dictionary-be, hunspell-be
Suggests: firefox | firefox-esr | thunderbird, libreoffice
Conflicts: hunspell-be
Description: Belarusian dictionary for hunspell and classic orthography
 This package contains Belarusian dictionary for the hunspell
 spell-checker currently supported by LibreOffice and Mozilla.
 .
 This dictionary is for the recent taraskievica orthography.

Package: hunspell-be-tarask-alt
Architecture: all
Build-Profiles: <pkg.spell-be-tarask.nolinks>
Depends: dictionaries-common (>= 1.0.0), ${misc:Depends}
Provides: hunspell-dictionary, hunspell-dictionary-be
Suggests: firefox | firefox-esr | thunderbird, libreoffice
Conflicts: hunspell-be-tarask
Description: Belarusian dictionary for hunspell and classic orthography
 This package contains Belarusian dictionary for the hunspell
 spell-checker currently supported by LibreOffice and Mozilla.
 .
 This dictionary is for the recent taraskievica orthography.
 .
 This package can be installed in parallel with hunspell-be as it doesn't
 install be_BY.dic and be_BY.aff symlinks.
